*{
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
 
:root{
    --cor-fundo: #518C81;
    --cor-suporte: #BF895A;
    --cor-branco: #F2F2F2;
    --cor-preto: #2F4F4F;
    --cor-borda: #D9D9D9;
}

body{
    background-color: var(--cor-branco);
}